.user-item {
  display: flex;
  align-items: center;
  background-color: rgb(224, 219, 219);
  border-radius: 20px;
  padding: 10px 50px;
  margin-bottom: 20px;
}

.user-login {
  font-weight: bold;
  font-size: 24px;
  margin-right: auto;
}

.user-delete-btn {
  margin: 0px 10px;
}

.user-update-btn {
  margin: 0px 10px;
}
