.modal-wrapper {
  height: 300px;
  width: 500px;
  position: fixed;
  top: calc(50vh - 150px);
  left: calc(50vw - 250px);
  padding: 30px;
  background-color: rgb(207, 207, 207);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  margin: 20px 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.edit-user-input {
  margin: 20px 20px;
  font-size: 20px;
  border-radius: 10px;
  padding: 4px 8px;
  border: 2px solid rgb(196, 196, 196);
  outline: none;
}

.edit-user-input:focus {
  border: 2px solid rgb(0, 0, 0);
}

.modal-btn {
  margin: 30px 20px;
}

.edit-user-close,
.edit-user-button {
  margin: 0 15px;
}
