.own-message {
  border-radius: 20px;
  background-color: rgb(222, 225, 226);
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.message-edit {
  margin: 0 5px;
  margin-left: 20px;
  text-align: center;
}

.message-delete {
  margin: 0 5px;
}