@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

* {
  font-family: 'Prompt', sans-serif;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 800px;
}
