.login-form-wrapper {
  height: 300px;
  width: 450px;
  background-color: rgb(196, 194, 194);
  padding: 30px;
  border-radius: 20px;
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 225px);
  box-shadow: 0px 5px 10px black;
}

.login-form-group {
  display: flex;
  flex-direction: column;
}

.login-form-input-login {
  margin: 10px 0px;
}

.login-form-input-password {
  margin: 10px 0px;
}

.login-button {
  width: 70%;
  margin: 20px auto;
}

.login-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0px;
}

.error-message {
  color: rgb(214, 18, 18);
  margin: 0 auto;
}
