.main-header__logo {
  border-radius: 60px;
  width: 50px;
  height: 50px;
  margin: 7px 20px 10px 0px;
}

.main-header__name {
  font-size: 24px;
  font-weight: bold;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  margin-left: 200px;
  margin-right: 40px;
}

.btn-logout {
  margin-right: 200px;
}

.navbar-link {
  margin: 0 20px;
  background-color: rgb(73, 73, 73);
  color: white;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 20px;
}

.navbar-link:hover {
  text-decoration: none;
  color: rgb(175, 175, 175);
}

.btn-logout {
  padding: 7px 15px;
  border-radius: 20px;
}
